.wrapper {
  position: relative;
}

/* 데이커 스타일 */

.react-datepicker__triangle {
  transform: translate(220px, 0px) !important;
  z-index: 10 !important;
}

.react-datepicker {
  border: none !important;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background-color: rgb(185, 13, 13) !important;
}
.react-datepicker__header {
  background-color: rgb(255, 128, 128) !important;
}

.react-datepicker__current-month {
  color: #fff !important;
}

.react-datepicker__day-name {
  color: #fff !important;
}

.react-datepicker__day--selected:hover {
  background-color: rgb(255, 166, 166) !important;
}

.react-datepicker__day--selected {
  background-color: rgb(185, 13, 13) !important;
}
