/*  form 스타일 */

.form-control {
  width: 100%;
  border-radius: 2px;
  border: 1px solid rgb(173, 170, 170);
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  margin-top: 15px;
}


/* btn 스타일 */

.btn-color:hover {
  background-color: rgb(139, 9, 9);
}
.btn-color {
  background-color: rgb(185, 13, 13);
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
}
.btn {
  border-radius: 50px;
  outline: initial !important;
  box-shadow: none !important;
  font-size: 0.8rem;
  padding: 0.5rem 1.75rem;
}


/* textarea 사이즈  */
.textsize {
width: 100%;
height: 50px;
resize: vertical; 
}