@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

/*                                   공용 form 스타일  */
.frame {
  position: relative;
  margin-bottom: 3em;
  display: flex;
  flex-wrap: wrap;
}
.form-frame {
  font-family: "Noto Sans KR", sans-serif;
  padding: 1.75rem;
  border: 1px solid rgb(173, 170, 170);
  border-radius: 5px;
  height: auto;
  box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
}
.card {
  max-width: 100%;
  flex: 0 0 100%;
}
.form-frame1 > .card > form > label {
  font-weight: bold;
}

.form-groups {
  position: relative;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.lable-font {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
}

.form-control {
  width: 100%;
  border-radius: 2px;
  border: 1px solid rgb(173, 170, 170);
  height: 30px;
  line-height: 30px;
  background-color: #fff;
}

/*                       submit btn  */
.btn-color:hover {
  background-color: rgb(139, 9, 9);
}
.btn-color {
  background-color: rgb(185, 13, 13);
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
}
.btn {
  border-radius: 50px;
  outline: initial !important;
  box-shadow: none !important;
  font-size: 0.8rem;
  padding: 0.5rem 1.75rem;
}

.feedBack {
  display: none;
}
.feedBackActive {
  display: block;
  position: absolute;
  top: -8px;
  left: 95px;
  border: 2px solid rgb(139, 9, 9);
  width: 12.5em;
  font-size: 12px;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  z-index: 10;
}

/*                Checkbox */
.line {
  position: relative;
  height: 30px;
}

.ck-position:first-of-type {
  margin-left: 0;
}
.ck-position {
  width: 20px;
  text-align: left;
  display: inline-block;
  margin-right: 5px;
  margin-left: 12px;
}

.label-font-second {
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  top: 11px;
  left: 30px;
}

/*  체크박스 커스텀 */
input[id="Custom-checkbox"] + label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #bcbcbc;
  cursor: pointer;
  border-radius: 3px;
  top: 10px;
}
input[id="Custom-checkbox"]:checked + label {
  background-color: rgb(139, 9, 9);
}
input[id="Custom-checkbox"] {
  display: none;
}
.custom-control-input {
  position: absolute;
  top: 10px;
}

/* 커스텀 그룹 */
input[id="Custom-checkbox1"]:checked + label {
  background-color: rgb(139, 9, 9);
}

input[id="Custom-checkbox1"] + label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #bcbcbc;
  cursor: pointer;
  border-radius: 3px;
  top: 10px;
}
input[id="Custom-checkbox1"] {
  display: none;
}
/* 2 */
input[id="Custom-checkbox2"]:checked + label {
  background-color: rgb(139, 9, 9);
}

input[id="Custom-checkbox2"] + label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #bcbcbc;
  cursor: pointer;
  border-radius: 3px;
  top: 10px;
}
input[id="Custom-checkbox2"] {
  display: none;
}
/* 3 */
input[id="Custom-checkbox3"]:checked + label {
  background-color: rgb(139, 9, 9);
}

input[id="Custom-checkbox3"] + label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #bcbcbc;
  cursor: pointer;
  border-radius: 3px;
  top: 10px;
}
input[id="Custom-checkbox3"] {
  display: none;
}
/* 4   */
input[id="Custom-checkbox4"]:checked + label {
  background-color: rgb(139, 9, 9);
}

input[id="Custom-checkbox4"] + label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #bcbcbc;
  cursor: pointer;
  border-radius: 3px;
  top: 10px;
}
input[id="Custom-checkbox4"] {
  display: none;
}

.flex-box {
  display: flex;
}
.line2 {
  flex: 1;
}

/* 라디오 커스텀 그룹 */
input[id="Custom-radio1"] + label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #bcbcbc;
  cursor: pointer;
  border-radius: 45px;
  top: 10px;
}
input[id="Custom-radio1"]:checked + label {
  background-color: rgb(139, 9, 9);
}
input[id="Custom-radio1"] {
  display: none;
}

input[id="Custom-radio2"] + label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #bcbcbc;
  cursor: pointer;
  border-radius: 45px;
  top: 10px;
}
input[id="Custom-radio2"]:checked + label {
  background-color: rgb(139, 9, 9);
}
input[id="Custom-radio2"] {
  display: none;
}

input[id="Custom-radio3"] + label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #bcbcbc;
  cursor: pointer;
  border-radius: 45px;
  top: 10px;
}
input[id="Custom-radio3"]:checked + label {
  background-color: rgb(139, 9, 9);
}
input[id="Custom-radio3"] {
  display: none;
}
input[id="Custom-radio4"] + label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #bcbcbc;
  cursor: pointer;
  border-radius: 45px;
  top: 10px;
}
input[id="Custom-radio4"]:checked + label {
  background-color: rgb(139, 9, 9);
}
input[id="Custom-radio4"] {
  display: none;
}
/*               CheckBox Group Style*/

.ckbox-group {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  width: 60px;
}

/*  스위치  */
#switch {
  display: none;
}
.label-position {
  display: block;
  margin-bottom: 15px;
}

.switch_label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 58px;
  height: 28px;
  background: #fff;
  border: 2px solid rgb(185, 13, 13);
  border-radius: 20px;
  transition: 0.2s;
}
.switch_label:hover {
  background: #efefef;
}
.onf_btn {
  position: absolute;
  top: 4px;
  left: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: rgb(185, 13, 13);
  transition: 0.2s;
}

/* checking style */
#switch:checked + .switch_label {
  background: rgb(139, 9, 9);
  border: 2px solid rgb(139, 9, 9);
}

#switch:checked + .switch_label:hover {
  background: rgb(192, 14, 14);
}

/* move */
#switch:checked + .switch_label .onf_btn {
  left: 34px;
  background: #fff;
  box-shadow: 1px 2px 3px #00000020;
}
/* 데이커 */
.react-datePicker-wrapper {
  width: 100%;
  margin-top: 20px;
}
.datepick {
  width: 100% !important;
  z-index: 10 !important;
  height: 30px !important;
}

/*  TopLabels */
/* 라벨이 인풋에 걸쳐 있는 형식  */
.has-float-label {
  display: block;
  position: relative;
}

.has-float-label > span:last-of-type,
.has-float-label label {
  position: absolute;
  cursor: text;
  font-size: 80%;
  opacity: 1;
  top: -0.4em;
  left: 0.75rem;
  z-index: 1;
  line-height: 1;
  padding: 0 1px;
}

.has-float-label > span:after,
.has-float-label label:after {
  content: " ";
  display: block;
  position: absolute;
  height: 5px;
  top: 3px;
  left: -0.2em;
  right: -0.2em;
  z-index: -1;
}

.has-float-label > span:after,
.has-float-label label:after {
  background: #fff !important;
}

.has-float-label > span,
.has-float-label label,
.has-top-label > span,
.has-top-label label {
  color: rgba(58, 58, 58, 0.7);
}

/* ToplabelINPUT */
/* 제목이 인풋에 들아가 있는 방식 */

.has-top-label {
  display: block;
  position: relative;
}

.has-top-label label:after {
  content: " ";
  display: block;
  position: absolute;
  height: 2px;
  top: 50%;
  left: -0.2em;
  right: -0.2em;
  z-index: -1;
}

.has-top-label label {
  position: absolute;
  cursor: text;
  font-size: 70%;
  opacity: 1;
  top: 0.7rem;
  left: 0.75rem;
  z-index: 1;
  line-height: 1;
  padding: 0 1px;
  font-weight: 600;
}

.has-top-label .form-control {
  min-height: calc(2.2rem + 2px) !important;
}

.has-top-label .form-control {
  padding: 1.7rem 0rem 0.2rem 0.4rem !important;
}

select.form-control {
  height: 60px;
  width: 100%;
}
