/* 폰트 import */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

/* 타이틀 스타일 */
.content-tit {
  margin: 40px 0 40px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #444;
}

/* 컨텐츠 박스 */
.main-flex {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}

/*  왼쪽 프레임 */
.left-frame {
  position: relative;
  padding: 0 1em;
  margin-right: 10px;
  flex: 1;
}

.left-frame > label {
  margin-bottom: 50px;
  font-size: 26px;
}

/* 오른쪽 프레임 */

.right-frame {
  position: relative;
  padding: 0 1em;
  flex: 1;
}
.right-frame > label {
  margin-bottom: 50px;
  font-size: 26px;
}

/*  bottom 프레임 */
.bottom-frame {
  display: flex;
  flex-direction: column;
}

.bottom-frame > h3 {
  font-size: 26px;
}

/* 폼 프레임 스타일 */

.frame {
  position: relative;
  margin-bottom: 3em;
  display: flex;
  flex-wrap: wrap;
}

.form-frame {
  font-family: "Noto Sans KR", sans-serif;
  padding: 1.75rem;
  border: 1px solid rgb(173, 170, 170);
  border-radius: 5px;
  height: auto;
  box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
  margin-top: 18px;
}

.form-groups {
  position: relative;
  margin-bottom: 15px;
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.card {
  max-width: 100%;
  flex: 0 0 100%;
}
